body{
    margin: 0;
    padding: 2%;
    background: rgba(252, 124, 4, 0.89);
}
#evmt{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    background-color: yellow;
}
#app{
    border-bottom: 3px solid red;
    margin-bottom: 1%;
    color: rgb(13, 14, 1);
}
.A{
    margin: 1%;
    padding: 2%;
    border: 3px solid white;
    border-radius: 20px;
    background: linear-gradient(orangered, black);
}
#app1{
    border: none;
    padding: 1%;
    width: 50%;
    margin: auto;
    background-color: green;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
#app1 div button{
    border: none;
    width: 50%;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    border-radius: 20%;
    background: rgba(4, 4, 238, 0.685);
}
#app2{
    border: none;
    border-radius: 15px;
    padding: 1%;
    width: 50%;
    margin: auto;
    background-color: rgb(128, 0, 122);
    color: white;
    font-weight: bold;
    font-size: 30px;
}
#app2 div button{
    width: 40%;
    border: none;
    margin: 1%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}